# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
AUTH_SECRET=""

# Google reCAPTCHA v2
RECAPTCHA_SECRET_KEY="6LdC7H0sAAAAANlkzHpQzpw5BhTAHUd2QbQK9MNV"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="6LdC7H0sAAAAADgphH_CxLUHRnHK2dl992ZlC6ff"

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://root:password@localhost:3306/attack_on_to_dos"
